<h1>Upload an AlphaFold model (.cif)</h1>
<form method="POST" action="/" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit" value="Upload"/>
</form>


<ul>
    <% data.searchResults.forEach(result=>{ %>
        <li> <%= result %> </li>
    <% }); %>
</ul>


<table>
    <tr>
      <th>Domain</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  
    <% for (var i = 0; i < data.searchResults.length; i++) { %>
      <tr>
        <td><%= data.searchResults[i].Domain %></td>
        <td><%= data.searchResults[i].Start %></td>
        <td><%= data.searchResults[i].End %></td>
      </tr>    
    <% } %>
  </table>